[submodule "submodules/coc.nvim"]
	path = submodules/coc.nvim
	url = https://github.com/neoclide/coc.nvim.git
[submodule "submodules/vim-commentary"]
	path = submodules/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule "submodules/vim-godot"]
	path = submodules/vim-godot
	url = https://github.com/habamax/vim-godot.git
[submodule "submodules/vim-lsp"]
	path = submodules/vim-lsp
	url = https://github.com/prabirshrestha/vim-lsp.git
